:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-15: 60px;
  --spacing-20: 80px;
  --spacing-25: 100px;
  --spacing-30: 120px;
}

body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
