@keyframes opacity-expand {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-collapse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 60%);
}

.overlay_expand {
  animation: opacity-expand 0.3s ease-out forwards;
}

.overlay_collapse {
  animation: opacity-collapse 0.3s ease-out forwards;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.content_slide_up {
  animation: slide-up 0.3s ease-out forwards;
}

.content_slide_down {
  animation: slide-down 0.3s ease-out forwards;
}

.close_button {
  position: absolute;
  top: var(--spacing-15);
  right: var(--spacing-10);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
