.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 1240px;
  height: calc(100% - var(--spacing-10));
  margin: 0 auto;
  padding-bottom: var(--spacing-10);
  overflow: hidden;
}

.titleSection {
  flex-shrink: 0;
}

.contentSection {
  display: flex;
  flex: 1;
  justify-content: space-between;
  min-height: 0;
  overflow: hidden;
}
