.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: calc(100% - var(--spacing-10));
  margin: 0 auto;
  padding-bottom: var(--spacing-10);
  overflow: hidden;
}
