.resetPassword {
  margin: auto;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
}

.resetPasswordLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  margin-top: 80px;
}

.resetPasswordLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  text-align: center;
}
