.login {
  margin: auto;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
}

.loginLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  margin-top: 80px;
}

.loginLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  text-align: center;
}
