.ingredients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8);
  padding: var(--spacing-10) 0 var(--spacing-15);
  text-align: center;
}

.ingredients__title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.ingredients__description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.ingredients_macronutrients {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-5);
}

.macronutrient {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  color: #8585ad;
}
