.profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
  max-width: 480px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  align-items: center;
  align-self: end;
  gap: var(--spacing-5);
}

.cancelButton {
  color: #4c4cff !important;
  cursor: pointer;
}

.cancelButton:disabled {
  color: #8585ad !important;
  cursor: not-allowed;
}
