.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding-right: var(--spacing-6);
}

.userOrders {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  padding-right: var(--spacing-6);
}
