.forgotPassword {
  margin: auto;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
}

.forgotPasswordLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  margin-top: 80px;
}

.forgotPasswordLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  text-align: center;
}
