.restorePassword {
  margin: auto;
}

.restorePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-6);
}

.restorePasswordLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  margin-top: 80px;
}

.restorePasswordLink {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  text-align: center;
}
