.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  &.img {
    padding: 0 var(--spacing-4) 0;
  }
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.card__price {
  display: flex;
  align-items: center;
  text-align: center;
}
