.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-1);
  cursor: pointer;
  transition: ease-in-out;

  p {
    text-align: center;
  }

  &:active {
    transform: translateY(-2px);
  }
}

.card__img_wrapper {
  position: relative;
}

.card__img {
  max-width: 240px;
  max-height: 120px;
  padding: 0 var(--spacing-4) 0;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.card__price {
  display: flex;
  align-items: center;
  text-align: center;
}
