.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-1);

  p {
    text-align: center;
  }
}

.card__img {
  position: relative;
  max-width: 240px;
  max-height: 120px;
  padding: 0 var(--spacing-4) 0;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.card__price {
  display: flex;
  align-items: center;
  text-align: center;
}
