.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.cards {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-10);
  min-height: 0;
  padding-top: var(--spacing-10);
  overflow-y: auto;
  text-align: center;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-8) var(--spacing-6);
}

.ingredients__title {
  text-align: left;
}
